@model  MVC.Models.AsignarPoliza

@{
    ViewBag.Title = "Index";
}

<h2>Asignar Polizas</h2>

@using (Html.BeginForm("Asignar", "AsignarPoliza"))
{
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>

            <th>
                Tipo Cubrimiento
            </th>

            <th>
                Periodo
            </th>
            <th>
                Valor
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.PolizasLista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.TipoCubrimiento)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PeridoCobertura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorPoliza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.ActionLink("Asignar", "Asignar", new { id = item.Id, clienteId = Model.clienteId }) |
                    @Html.ActionLink("Cancelar", "Cancelar", new { id = item.Id }) |
                </td>
            </tr>
        }
    </table>
}