@model  MVC.Models.AsignarPoliza

@{
    ViewBag.Title = "Index";
}

<h2>Asignar Polizas</h2>

@using (Html.BeginForm("Index", "AsignarPoliza", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Estado
            </th>
            <th>
                Descripción
            </th>
            <th>
                Tipo Cubrimiento
            </th>
            <th>
                Fecha
            </th>
            <th>
                Periodo
            </th>
            <th>
                Valor
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.PolizasLista)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCubrimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeridoCobertura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorPoliza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.ActionLink("Asignar", "Asignar", new { id = item.Id }) |
                    @Html.ActionLink("Cancelar", "Cancelar", new { id = item.Id }) |
                </td>
            </tr>
        }
    </table>
}