@model IEnumerable<MVC.Models.Poliza>

@{
    ViewBag.Title = "Lista Polizas Activas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCubrimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeridoCobertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorPoliza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoRiesgo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.clienteId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCubrimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeridoCobertura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorPoliza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoRiesgo)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.clienteId)
        </td>*@
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Borar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
